.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 250px;
}

.card-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 4px;

}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0.5rem;
}

.card-content h4 {
  margin: 0;
  padding: 0;
}

