/* Set the background picture to cover the entire page */
/* body {
    background-image: url('../assets/backrounds/vineyard.png');
    background-size: cover;
    background-position: center;
  } */
  
  /* Set the background color of the form to white */
  /* .rounded-border {
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px; /* Optional: limit the width of the form */
    margin: 0 auto; /* Optional: center the form horizontally */
  } */
  
  