.Question-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .container {
  display: flex;
  justify-content: center;
} */

/* .box {
  display: flex;
  align-items: center;
  margin: 0 10px; 
}


  input[type="checkbox"]:checked {
    color: rgb(179, 255, 3);
  } */



/* .Question-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border: 2px solid #ccc;
  border-radius: 0.5rem;
  max-width: 30rem;
  width: 100%;
  margin: 0 auto;
} */

/* .Question-buttons-main-001 {
  background-color: #0077b6;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 1rem;
  width: 100%;
} */
